---
import { SITE } from '@/consts';
import Container from '@/components/Container.astro';
import Link from '@/components/Link.astro';
---

<header class="fixed left-0 right-0 top-0 z-50 bg-stone-100/75 py-5 backdrop-blur-sm saturate-200 dark:bg-stone-900/25">
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <span class="font-semibold text-black dark:text-white">{SITE.NAME}</span>
      </Link>
      <nav class="flex gap-1" aria-label="Primary navigation">
        <Link href="/blog/">blog</Link>
        <span aria-hidden="true">/</span>
        <Link href="/about/">about</Link>
      </nav>
    </div>
  </Container>
</header>
